data/raw_data/
inference_results/*
dataframe_decomp.log
data/decomp_100_frames*
*.log 
wandb/*
default_checkpoints/*
ml_common/*
*.ckpt
decomp_*
__pycache__
data/*/**
src/data/*
.DS_Store
src/models/wandb/*
